{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "browsers": ["> 1%", "last 2 versions"]  // marketshare , last versions
            }
        }],
        "@babel/preset-react"
    ],
    "plugins":[
        "@babel/plugin-proposal-class-properties"  //show which syntax babel errors out or which syntax babel supports
    ]
}